{% extends 'base.html' %}

{% block content %}
<div class="md:grid grid-cols-3 gap-6">
    {% for article in articles %}
    <div class="mb-6 md:mb-0 border rounded bg-white">
        <a href="{% url 'articles:detail' article.slug %}">
            <img class="h-64 w-full" src="{{ article.thumbnail.url }}" alt="">
            <div class="p-3">
                <h2 class="font-bold text-xl">{{ article.title }}
                </h2>
                <!-- <p class="font-normal text-base">{{ article.snippet }}</p> -->
                <p class="font-medium text-base">{{ article.date.date }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}